footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .general-footer-top {
    background-color: #9E256E;
    text-align: center;
    padding: 3rem;
  }

  .general-footer .logo {
    padding: 20px;
    width: 200px;
    margin-bottom: 20px;
  }

  footer .links {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #fff;
    border-width: thin;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .Footer li {
      list-style: none;
      color: FFFF;
  }

  .Footer a:hover {
    color: #0056b3;
    text-decoration: none;
  }

  .Footer a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}